
nav a {
  background-color: rgb(15, 41, 50);
}

nav a:hover {
  background-color: rgba(180, 239, 255, 0.493);
}

nav a:visited {
  color: purple;
}

nav a:active {
  color: rgb(227, 69, 69);
}

nav a:link {
  color: black;
}