
    h1, h2 {
      color: navy;
    }
    
    .evenrow {
      background-color: grey;
    }
    
    table, th, td {
      border: 2px dashed rgb(98, 15, 15);
    }
    
    h1 {
      font-size: xx-large;
      font-family: serif;
    }
    
    h2 {
      font-size: medium;
      font-family: sans-serif;
    }